*{
	margin: 0;
	padding: 0;
}
.shadow{
	border: solid 1px rgba(102, 146, 191, 0.68);	/*边角弧度*/
	border-radius: 10px;
	box-shadow: 7px 7px 15px #285a63;
}

.bg{
	background:url("imgs/beach.jpg") no-repeat center center fixed;/* 与下面的blur_box:before中的background设置一样 */
	background-size:cover;
	-webkit-background-size:cover;
	width:100%;
	height:100%;
	z-index:-1;
}

.blur_box{
	z-index: 0;/* 为不影响内容显示必须为最高层 */
	position: relative;
	overflow: hidden;
	border-radius: 30px;
}
.blur_box:before{
	content: "";/* 必须包括 */
	position: absolute;/* 固定模糊层位置 */
	width:200%;
	height:200%;
	left: -100%;/* 回调模糊层位置 */
	top: -100%;/* 回调模糊层位置 */
	background:url("imgs/beach.jpg") no-repeat center center fixed;/* 与上面的bg中的background设置一样 */
	filter: blur(10px);/* 值越大越模糊 */
	z-index: -2;/* 模糊层在最下面 */
}
.rgba{
	background-color: rgba(0, 0, 0, 0.1);/* 为文字更好显示，将背景颜色加深 */
	position: absolute;/* 固定半透明色层位置 */
	width:100%;
	height:100%;
	z-index: -1;/* 中间是rgba半透明色层 */
}
.content_text{
	color: rgba(255, 255, 255, 1);
	padding: 15px 15px;
	line-height: 28px;
}
article{
	width:30%;
	height:32%;
	margin:120px auto;
}
.icon{
	width:100%;
	height:50%;
}

.container {
    height: 47px;
    width: 36%;
    margin: 150px auto 0 auto;
}
.parent {
    position: relative;
}
.search {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}
#loading{
	position:absolute;
	top:10px;
	right:10px;
	
}
.thanks{
	color:rgb(237,237,237);
	font-family:德彪钢笔行书字库;
	font-size:30px;
	position:absolute;
	left:46%;
	bottom:20px;
}
